## 1 Write a program to print hello world!

In [36]:
print("hello world!")

hello world!

## 2.1Write a program to print your address (1) using single print

In [37]:
print("DU HOSTEL \nHADALA \nRajkot \n363650")

DU HOSTEL
HADALA
Rajkot
363650

## 2.2 WAP to print your address (2) using multiple print

In [38]:
print("DU HOSTEL")
print("hadala")
print("RAJKOT")
print(363375)

DU HOSTEL
hadala
RAJKOT
363375

## 3 WAP to print addition of 2 number without input function

In [39]:
a = 5
b = 10

print(a+b)

15

## 4 WAP to print avg of 2 numbers without input function

In [40]:
a = 5
b =10
print((a+b)/2)

7.5

## 5 WAP to add 2 numbers entered by user

In [41]:
a = int(input("Enter a number"))
b = int(input("Enter 2nd number"))

print(a+b)

Enter a number 5
Enter 2nd number 5

10

## 6 WAP to find area of circle

In [43]:
r = float(input("Enter radius"))
pi = 3.14

print(pi*(r*r))

Enter radius 5

78.5

## 7 WAP to enter 4 subject marks from user and find its total and %

In [17]:
sub1 = float(input("Enter marks of sub1:"))
sub2 = float(input("Enter marks of sub1:"))
sub3 = float(input("Enter marks of sub1:"))
sub4 = float(input("Enter marks of sub1:"))
total = sub1 + sub2 + sub3 + sub4

perc = (total/400) * 100

print("total is:", total, "\nPercentage:", perc)

Enter marks of sub1: 10
Enter marks of sub1: 20
Enter marks of sub1: 30
Enter marks of sub1: 40

total is: 100.0
Percentage: 25.0

## 8 WAP to calc area of triangle

In [21]:
h = float(input("Enter height"))
b = float(input("Enter breath"))

print("area:", ((0.5)*h*b))

Enter height 5
Enter breath 5

area: 12.5

## 9 WAP to calc area of rectangle

In [20]:
l = float(input("Enter length"))
b = float(input("Enter breath"))

print("area:", l*b)

Enter length 5
Enter breath 5

area: 25.0

## 10 WAP to calculate SI

In [23]:
p = float(input("Enter p"))
r = float(input("Enter r"))
t = float(input("Enter t"))

print("SI:", (p*r*t)/100)

Enter p 10000
Enter r 2
Enter t 3

SI: 600.0

## 11 WAP to print mul table of a number

In [28]:
num = int(input("Enter a number"))

print(num, "*", "1", "=", (num*1))
print(num, "*", "2", "=", (num*2))
print(num, "*", "3", "=", (num*3))
print(num, "*", "4", "=", (num*4))
print(num, "*", "5", "=", (num*5))
print(num, "*", "6", "=", (num*6))
print(num, "*", "7", "=", (num*7))
print(num, "*", "8", "=", (num*8))
print(num, "*", "9", "=", (num*9))
print(num, "*", "10", "=", (num*10))

Enter a number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

## 12 WAP to convert celcius to fehrenhiet

In [35]:
cel = float(input("Enter cel:"))
feh = (cel * 9/5) + 32
print(cel, "to fehrenhiet=", feh)

feh = float(input("Enter feh:"))
cel = (feh - 32) * 5/9
print(feh, "to celcius=", cel)

Enter cel: 5

5.0 to fehrenhiet= 41.0

Enter feh: 41

41.0 to celcius= 5.0